<div *ngIf="isLoading" class="loading-spinner">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

<div *ngIf="!isLoading">
  <mat-card class="cardWithShadow" >
    <mat-card-content>
      <mat-card-title>Participations List</mat-card-title>
      <div class="participation-cards-container">
        <div *ngFor="let element of dataSource" class="participation-card">
          <mat-card class="mat-elevation-z8 fixed-width-card" style="width:30%;">
            <mat-card-header>
              <mat-card-title>{{element.username}}</mat-card-title>
              <mat-card-subtitle>{{element.code}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
            <button mat-button color="accent" (click)="huntParticipation(element.userId, element.competitionId)">
                Hunt
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
