<mat-card class="cardWithShadow">
  <mat-card-content>
    <mat-card-title>Competitions List</mat-card-title>
    <button mat-raised-button color="primary" (click)="openAddDialog()" style="margin: 12px;">
      <mat-icon>add</mat-icon> Create Competition
    </button>

    <div class="competitions-container" *ngIf="!isLoading; else loading">
      <mat-card *ngFor="let competition of dataSource" class="competition-card" style="width: 40%;">
        <mat-card-header>
          <mat-card-title>{{ competition.location }}</mat-card-title>
          <mat-card-subtitle>{{ competition.date }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Type: {{ competition.speciesType }}</p>
          <p>Min Participants: {{ competition.minParticipants }}</p>
          <p>Max Participants: {{ competition.maxParticipants }}</p>
          <p>Open Registration: {{ competition.openRegistration }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="accent" (click)="participate(competition.id)">
            <mat-icon>person_add</mat-icon> Participate
          </button>
          <!-- <button mat-button (click)="editCompetition(competition.id)">Edit</button> -->
          <button mat-button (click)="deleteCompetition(competition.id)">Delete</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <ng-template #loading>
      <div class="loading-container">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  </mat-card-content>
</mat-card>
